*.db
.adb-sdbak_dirs.tmp
.adb-sdbak_dirs-infos.tmp
.adb-sdbak_size-done.tmp
.adb-sdbak_size-total.tmp
adb-sdbak.js
arc/**
archdroid-gr23
aur-update
aur-update-pkg
bak
bakall
bakk/**
compiz-start
crush
drk
eg/**
extractgst.sh
gen-chrome-css
genbak
gitsetup
go.in
godocless
goinstall
gonew
goshell
gotest
import-lib
inkscape-center
inkscape-fit
linux-pf
linuxck.in
modx
pngz
scratch/**
scripts
svg-resize
svg-resize-center
sz1
szz
thunar/bak/**
wifi-adb
wiscan
xmod
yaoavail
yaoin
yaotmp
yt3
yt4
